{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>News creation</h1>
    </div>


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
